* {
}

body {
    background: url(/pages/daisyFlower\ copy.png);
    background-color: rgba(18, 22, 38, .7);
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
}

.thankyou-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 7rem;
    color: #ff30a4;
}

.checkmark i {
    color: #ff30a4;
    width: 3rem;
    height: 3rem;
}

p {
    padding-top: 2rem;
    font-size: 3rem;
    color: #ffffff;
}